# General
.DS_Store
Thumbs.db

# Backend (Django o cualquier framework de servidor)
server/venv/
server/*.pyc
server/__pycache__/
server/db.sqlite3
server/migrations/

# Frontend (Node.js o frameworks como React/Vue)
client/node_modules/
client/build/
client/dist/

# Documentación
docs/*.log
docs/temp/

# Entornos y configuración sensible
.env
*.log
